<div style="height:20px"></div>
<div class="container mt-5" style="width:30%;height:700px;min-width: 300px;background-color: grey;">
    <div class="py-5 text-center">
      <p class="lead">Welcome {{userName}}</p>
      <h2>Your Hotline Contacts</h2>
      <p *ngIf="callState=='idle' || callState=='completed'" class="lead">Click on the name to call</p>
      <p *ngIf="!(callState=='idle' || callState=='completed')" class="lead">Calling {{currentName}}...</p>
      <div class="row my-5 justify-content-center">
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle "   id="Bob" role="button" (click)="handleButtonClick('Bob')">Bob</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle" id = "Alice" role="button" (click)="handleButtonClick('Alice')">Alice</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle " id = "Greeta" role="button" (click)="handleButtonClick('Greeta')">Greeta</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row my-5">
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle "  id="Sue" role="button" (click)="handleButtonClick('Sue')">Sue</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle" id = "Tom" role="button" (click)="handleButtonClick('Tom')">Tom</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle btn-disabled" id = "x1" role="button">X</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row my-5">
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle btn-disabled "  id="x2" role="button" >X</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle btn-disabled" id = "x3" role="button">X</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a class=" btn btn-danger btn-circle btn-disabled" id = "x4" role="button">X</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
  </div>
