.btn-circle { 
    width: 70px; 
    height: 70px; 
    padding: 22px 5%; 
    border-radius: 35px; 
    font-size: 15px; 
    text-align: center; 
    justify-content: center;
    color:white;
    font-weight: bold;
} 

.btn-disabled {
    background-color: darkgray;
    cursor: none;
    border-color: darkgray;
    color: slategray;
    
}
